@media screen and (min-width: 1200px) and (max-width: 1280px) {
	.main-content .owl-theme .custom-nav .owl-prev::before {

        top: 7px;
        left: 120%;
      }
}
/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1199px) {

	.hero-left h2 {
		font-size: 46px;
	}

	.hero-left h4 {
		font-size: 32px;
	}

	.hero-left p {
		font-size: 20px;
	}

	.partner-main {
		max-width: 850px;
	}

	.face-area {
		padding-top: 50px;
	}

	.face-cnt a {
		margin-top: 56px;
	}

	.face-cnt h2 {
		font-size: 40px;
	}

	.testimonial-box {
		padding: 22px 22px;
		min-height: 230px;
	}

	.testimonial-cnt {
		padding-top: 14px;
	}

	.main-content .owl-theme .custom-nav .owl-prev {
		left: 90%;
	}

	.main-content .owl-theme .custom-nav .owl-prev::before {

        top: 7px;
        left: 140%;
      }

}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {

	.header-main {
	    padding: 15px 0px;
	}

	.headerfixed .header-main {
	    padding: 10px 0;
	    border: none;
	}

	.hero-area {
		padding: 50px 0 45px;
	}

	.hero-left h2 {
		font-size: 32px;
	}

	.hero-left h4 {
		font-size: 24px;
	}

	.hero-left h4 .online {
		border-radius: 13px;
	}

	.hero-left p {
		font-size: 17px;
		margin: 30px 0;
	}

	.upload-bar {
		padding: 15px 18px;
	}

	.filebtn {
		font-size: 12px;
	}

	.filebtn img {
		max-width: 25px;
		margin-right: 15px;
	}

	.search-btn button img {
		max-width: 25px;
	}

	.partner-area {
		padding: 36px 0;
	}

	.partner-main {
		max-width: 650px;
	}

	.partner-item img {
		max-width: 80%;
	}

	.verify-area {
		padding: 100px 0;
	}

	.verify-cnt h2 {
		font-size: 36px;
	}

	.verify-cnt p {
		font-size: 16px;
	}

	.face-area {
		padding-top: 50px;
	}

	.face-cnt a {
		margin-top: 25px;
		font-size: 16px;
		padding: 12px 20px;
	}

	.face-cnt h2 {
		font-size: 32px;
	}

	.face-cnt p {
		font-size: 15px;
	}

	.avoid-area {
		padding: 100px 0;
	}

	.avoid-cnt h2 {
		font-size: 36px;
	}

	.avoid-cnt p {
		font-size: 16px;
	}

	.testimonial-upper h4 {
		font-size: 28px;
	}

	.testimonial-upper h2 {
		font-size: 36px;
	}

	.testimonial-box {
		padding: 16px 15px;
		min-height: 200px;
	}

	.testimonial-box img {
		width: 52px!important;
		height: 52px!important;
		margin-right: 10px;
	}

	.testimonial-cnt {
		padding-top: 5px;
	}

	.testimonial-cnt h4 {
		font-size: 18px;
	}

	.testimonial-cnt p {
		font-size: 14px;
	}

	.main-content .owl-theme .custom-nav .owl-prev {
		left: 88%;
	}

	.faq-area {
		padding: 100px 0 80px;
	}

	.faq-heading h2 {
		font-size: 36px;
	}

	.faq-main {
		padding-top: 26px;
	}

	.ziehharmonika h3 {
		padding: 16px 20px;
	}

	.ziehharmonika > div {
		padding: 0px 20px 25px
	}

	.footer-main {
		padding: 65px 0 45px;
	}

	.footer-menu ul li {
		padding: 10px 15px;
	}

	.footer-menu ul li a {
		font-size: 16px;
	}

	.copyright-part {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.copyright-left p {
		font-size: 16px;
	}

	.copyright-right ul li {
		padding-left: 26px;
	}

	.copyright-right ul li a {
		font-size: 16px;
	}

	.copyright-right {
		justify-content: center;
		order: 1;
	}

	.copyright-right .social-icon {
		padding-left: 50px;
	}

	.copyright-left {
		order: 2;
		padding-top: 20px;
	}
	.main-content .owl-theme .custom-nav .owl-prev::before {

        top: 7px;
        left: 118%;
      }

}

/*
====================================
Small Screen - Mobile
====================================
*/
@media screen and (max-width: 767px) {

	.container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.header-main {
	    padding: 15px 0px;
	}

	.headerfixed .header-main {
	    padding: 10px 0;
	    border: none;
	}

	.hero-area {
		padding: 75px 0 45px;
	}

	.hero-left {
		padding-top: 50px;
	}

	.hero-left h2 {
		font-size: 32px;
	}

	.hero-left h4 {
		font-size: 24px;
	}

	.hero-left h4 .online {
		border-radius: 13px;
	}

	.hero-left p {
		font-size: 17px;
		margin: 30px 0;
	}

	.upload-bar {
		padding: 15px 18px;
	}

	.filebtn {
		font-size: 16px;
	}

	.filebtn img {
		max-width: 25px;
		margin-right: 15px;
	}

	.search-btn button img {
		max-width: 25px;
	}

	.partner-area {
		padding: 20px 0;
	}

	.partner-main {
		flex-wrap: wrap;
		max-width: 650px;
	}

	.partner-item {
		width: 50%;
		padding: 20px 0;
	}

	.partner-item img {
		max-width: 100%;
	}

	.verify-area {
		padding: 100px 0 70px;
	}

	.verify-cnt {
		padding-top: 50px;
	}

	.verify-cnt h2 {
		font-size: 36px;
	}

	.verify-cnt p {
		font-size: 16px;
	}

	.face-area {
		padding-top: 50px;
	}

	.face-cnt {
		padding: 50px 0;
	}

	.face-cnt a {
		margin-top: 25px;
		font-size: 16px;
		padding: 12px 20px;
	}

	.face-cnt h2 {
		font-size: 32px;
	}

	.face-cnt p {
		font-size: 15px;
	}

	.avoid-area {
		padding: 90px 0;
	}

	.avoid-cnt {
		padding-top: 50px;
	}

	.avoid-cnt h2 {
		font-size: 36px;
	}

	.avoid-cnt p {
		font-size: 16px;
	}

	.testimonial-upper h4 {
		font-size: 25px;
	}

	.testimonial-upper h2 {
		font-size: 30px;
	}

	.testimonial-box {
		padding: 16px 15px;
		min-height: 200px;
	}

	.testimonial-box img {
		width: 52px!important;
		height: 52px!important;
		margin-right: 10px;
	}

	.testimonial-cnt {
		padding-top: 5px;
	}

	.testimonial-cnt h4 {
		font-size: 18px;
	}

	.testimonial-cnt p {
		font-size: 14px;
	}

	.main-content .owl-theme .custom-nav .owl-prev {
		left: 85%;
	}

	.faq-area {
		padding: 80px 0 70px;
	}

	.faq-heading h2 {
		font-size: 30px;
	}

	.faq-main {
		padding-top: 20px;
	}

	.ziehharmonika h3 {
		padding: 16px 18px;
	}

	.ziehharmonika > div {
		padding: 0px 18px 25px
	}

	.footer-main {
		padding: 65px 0 45px;
	}

	.footer-menu ul li {
		padding: 10px 15px;
	}

	.footer-menu ul li a {
		font-size: 16px;
	}

	.copyright-part {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.copyright-left p {
		font-size: 16px;
	}

	.copyright-right ul li {
		padding-left: 26px;
	}

	.copyright-right ul li a {
		font-size: 16px;
	}

	.copyright-right {
		justify-content: center;
		order: 1;
	}

	.copyright-right .social-icon {
		padding-left: 50px;
	}

	.copyright-left {
		order: 2;
		padding-top: 20px;
	}
	.main-content .owl-theme .custom-nav .owl-prev::before {
    	content: "";
        width: 3px;
        height: 20px;
        background-color: #454545;
        display: block;
        position: absolute;
        top: 7px;
        left: 110%;
      }



}

@media screen and (max-width: 575px) {

	.partner-item img {
		max-width: 80%;
	}

	.ziehharmonika .collapseIcon {
		font-size: 16px;
		right: 12px;
	}

	.ziehharmonika h3 {
		padding-right: 40px;
	}

	.footer-menu ul li {
		padding: 8px 12px;
	}

	.copyright-right ul li {
		padding-left: 15px;
	}

	.copyright-right ul li a {
		font-size: 15px;
	}

	.copyright-right .social-icon li a {
		font-size: 18px;
	}

	.copyright-right .social-icon {
		padding-left: 30px;
	}

	.copyright-left p {
		font-size: 14.5px;
	}

	.main-content .owl-theme .custom-nav .owl-prev {
		left: 80%;
	}

	.main-content .owl-theme .custom-nav {
		top: -54px;
	}

	.main-content .owl-theme .custom-nav .owl-prev i, 
	.main-content .owl-theme .custom-nav .owl-next i {
		font-size: 21px;
	}

	.main-content .owl-theme .custom-nav .owl-prev::before {
		content: "";
		width: 3px;
		height: 18px;
		background-color: #454545;
		display: block;
		position: absolute;
		top: 6px;
		left: 104%;
	}

}

     
@media screen  and (min-width: 501px) and (max-width: 575px) {
	.main-content .owl-theme .custom-nav .owl-prev::before {
		top: 5px;
		left: 150% !important;
	  }
  }      
@media screen  and (min-width: 453px) and (max-width: 500px) {
	.main-content .owl-theme .custom-nav .owl-prev::before {
		top: 5px;
		left: 140% !important;
	  }
  }      

@media screen  and (min-width: 421px) and (max-width: 452px) {
	.main-content .owl-theme .custom-nav .owl-prev::before {
		top: 5px;
		left: 130% !important;
	  }
  }      
@media screen  and (min-width: 385px) and (max-width: 420px) {
	.main-content .owl-theme .custom-nav .owl-prev::before {
		top: 5px;
		left: 110% !important;
	  }
  }      